{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Confidentialité{% endblock %}</h1>
{% endblock %}

{% block content %}
<p>
    Lorsque vous utilisez nos services, vous nous faites confiance pour le traitement de vos informations. Nous savons qu'il s'agit d'une lourde responsabilité, c'est pourquoi nous nous efforçons de les protéger, tout en vous permettant d'en garder le contrôle.
    Les présentes Règles de confidentialité visent à vous indiquer quelles informations nous collectons et pour quelle raison, ainsi que la façon de les mettre à jour, de les gérer, de les exporter et de les supprimer.
    Si la loi de l'Union européenne ou du Royaume-Uni sur la protection des données s'applique au traitement de vos informations, consultez la section Exigences européennes ci-dessous pour en savoir plus sur vos droits et la conformité d’Adrenaline.AI avec ces lois.
</p>
{% endblock %}

